*.gb
*.lst
*.map
*.o
*.sym
*.asm
*.s
*.cdb
*.adb
*.lk
*.noi
*.rel
*.ihx
*.bi4
*_data.c
*.1bpp
*.2bpp
*.xbpp
*_map.c
*.tilemap
*_pal.c
*.pal
*_tmap.c
level.c
strings.c
strings.h
pix/pix.h
music/songs.h
*.zip
*.bank
*.gpl
*.rst
*.diff
*.uge
*.ini
*.sav
*.tiled-project
*.tiled-session