[submodule "dev/gbdk-music"]
	path = dev/gbdk-music
	url = https://github.com/basxto/gbdk-music
[submodule "dev/png2gb"]
	path = dev/png2gb
	url = https://github.com/basxto/png2gb
[submodule "dev/loadgpl"]
	path = dev/loadgpl
	url = https://github.com/basxto/loadgpl
[submodule "dev/gbz80-ph"]
	path = dev/gbz80-ph
	url = https://github.com/basxto/gbz80-ph
[submodule "dev/lzcomp"]
	path = dev/lzcomp
	url = https://github.com/basxto/lzcomp
	branch = LZ256
